In [2]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('TEST TASK (dataset).csv')

In [3]:
df.shape

(1467832, 63)

In [4]:
df.head()

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_135,0.0,0.0,0.0,ios,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.0,0.0,0.0,android,0.0,0.0,0.0,0.0
2,1.0,2.0,2.0,2.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.0,0.0,0.0,android,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.0,0.0,0.0,ios,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_203,0.0,0.0,0.0,android,0.0,0.0,0.0,0.0

In [6]:
df.columns

Index(['total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3',
       'total_sessions_day7', 'chapters_finished_day0',
       'chapters_finished_day1', 'chapters_finished_day3',
       'chapters_finished_day7', 'chapters_opened_day0',
       'chapters_opened_day1', 'chapters_opened_day3', 'chapters_opened_day7',
       'chapters_closed_day0', 'chapters_closed_day1', 'chapters_closed_day3',
       'chapters_closed_day7', 'diamonds_received_day0',
       'diamonds_received_day1', 'diamonds_received_day3',
       'diamonds_received_day7', 'diamonds_spent_day0', 'diamonds_spent_day1',
       'diamonds_spent_day3', 'diamonds_spent_day7', 'tickets_spent_day0',
       'tickets_spent_day1', 'tickets_spent_day3', 'tickets_spent_day7',
       'retained_day1', 'retained_day3', 'retained_day7',
       'chapters_finished_session1', 'chapters_finished_session3',
       'chapters_finished_session9', 'chapters_opened_session1',
       'chapters_opened_session3', 'chapters_opened_session9',
       'chapters_closed_session1', 'chapters_closed_session3',
       'chapters_closed_session9', 'diamonds_spent_session1',
       'diamonds_spent_session3', 'diamonds_spent_session9',
       'tickets_spent_session1', 'tickets_spent_session3',
       'tickets_spent_session9', 'app_sub_ltv_day0', 'app_sub_ltv_day1',
       'app_sub_ltv_day3', 'app_iap_ltv_day0', 'app_iap_ltv_day1',
       'app_iap_ltv_day3', 'media_source', 'install_date', 'country_code',
       'ad_ltv_day0', 'ad_ltv_day1', 'ad_ltv_day3', 'platform',
       'target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30'],
      dtype='object')

## see Grouped data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1467832 entries, 0 to 1467831
Data columns (total 63 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   total_sessions_day0         1466467 non-null  float64
 1   total_sessions_day1         1466465 non-null  float64
 2   total_sessions_day3         1466464 non-null  float64
 3   total_sessions_day7         1466458 non-null  float64
 4   chapters_finished_day0      1467832 non-null  int64
 5   chapters_finished_day1      1467832 non-null  int64
 6   chapters_finished_day3      1467832 non-null  int64
 7   chapters_finished_day7      1467832 non-null  int64
 8   chapters_opened_day0        1467832 non-null  int64
 9   chapters_opened_day1        1467832 non-null  int64
 10  chapters_opened_day3        1467832 non-null  int64
 11  chapters_opened_day7        1467832 non-null  int64
 12  chapters_closed_day0        1467832 non-null  int64
 13  chapters_closed_day1        1467832 non-null  int64
 14  chapters_closed_day3        1467832 non-null  int64
 15  chapters_closed_day7        1467832 non-null  int64
 16  diamonds_received_day0      1467832 non-null  int64
 17  diamonds_received_day1      1467832 non-null  int64
 18  diamonds_received_day3      1467832 non-null  int64
 19  diamonds_received_day7      1467832 non-null  int64
 20  diamonds_spent_day0         1467832 non-null  int64
 21  diamonds_spent_day1         1467832 non-null  int64
 22  diamonds_spent_day3         1467832 non-null  int64
 23  diamonds_spent_day7         1467832 non-null  int64
 24  tickets_spent_day0          1467832 non-null  int64
 25  tickets_spent_day1          1467832 non-null  int64
 26  tickets_spent_day3          1467832 non-null  int64
 27  tickets_spent_day7          1467832 non-null  int64
 28  retained_day1               1467832 non-null  int64
 29  retained_day3               1467832 non-null  int64
 30  retained_day7               1467832 non-null  int64
 31  chapters_finished_session1  1467832 non-null  int64
 32  chapters_finished_session3  1467832 non-null  int64
 33  chapters_finished_session9  1467832 non-null  int64
 34  chapters_opened_session1    1467832 non-null  int64
 35  chapters_opened_session3    1467832 non-null  int64
 36  chapters_opened_session9    1467832 non-null  int64
 37  chapters_closed_session1    1467832 non-null  int64
 38  chapters_closed_session3    1467832 non-null  int64
 39  chapters_closed_session9    1467832 non-null  int64
 40  diamonds_spent_session1     1467832 non-null  int64
 41  diamonds_spent_session3     1467832 non-null  int64
 42  diamonds_spent_session9     1467832 non-null  int64
 43  tickets_spent_session1      1467832 non-null  int64
 44  tickets_spent_session3      1467832 non-null  int64
 45  tickets_spent_session9      1467832 non-null  int64
 46  app_sub_ltv_day0            1467832 non-null  float64
 47  app_sub_ltv_day1            1467832 non-null  float64
 48  app_sub_ltv_day3            1467832 non-null  float64
 49  app_iap_ltv_day0            1467832 non-null  float64
 50  app_iap_ltv_day1            1467832 non-null  float64
 51  app_iap_ltv_day3            1467832 non-null  float64
 52  media_source                1467832 non-null  object
 53  install_date                1467832 non-null  object
 54  country_code                1467832 non-null  object
 55  ad_ltv_day0                 1467832 non-null  float64
 56  ad_ltv_day1                 1467832 non-null  float64
 57  ad_ltv_day3                 1467832 non-null  float64
 58  platform                    1467832 non-null  object
 59  target_sub_ltv_day30        1467832 non-null  float64
 60  target_iap_ltv_day30        1467832 non-null  float64
 61  target_ad_ltv_day30         1467832 non-null  float64
 62  target_full_ltv_day30       1467832 non-null  float64
dtypes: float64(17), int64(42), object(4)
memory usage: 705.5+ MB

In [13]:
df.platform.value_counts()

android    887426
ios        580406
Name: platform, dtype: int64

In [14]:
df.country_code.value_counts()

COUNTRY_141    387761
COUNTRY_13     260238
COUNTRY_155    152936
COUNTRY_108    114661
COUNTRY_35     111007
                ...
COUNTRY_73          1
COUNTRY_10          1
COUNTRY_151         1
COUNTRY_175         1
COUNTRY_37          1
Name: country_code, Length: 224, dtype: int64

In [4]:
print(df[df['platform']=='android']['target_full_ltv_day30'].mean())
print(df[df['platform']=='ios']['target_full_ltv_day30'].mean())

0.09927940742984764
0.4978292107019058

0.4978292107019058

In [5]:
df.groupby(by = 'platform')\
.agg({'target_full_ltv_day30':['mean','sum'],
     'target_sub_ltv_day30':['mean','sum'],
     'target_iap_ltv_day30':['mean','sum'],
     'target_ad_ltv_day30':['mean','sum','count'],})

         target_full_ltv_day30                target_sub_ltv_day30  \
                          mean            sum                 mean
platform
android               0.099279   88103.127418             0.007925
ios                   0.497829  288943.060867             0.043596

                       target_iap_ltv_day30                 \
                   sum                 mean            sum
platform
android    7033.283064             0.082041   72805.257615
ios       25303.603837             0.415577  241203.277020

         target_ad_ltv_day30
                        mean           sum   count
platform
android             0.009313   8264.586739  887426
ios                 0.038656  22436.180010  580406

In [23]:
print(25303.603837/288943.060867)
print(7033.283064/88103.127418)

0.08757297635414475
0.0798301180686925

Можемо побачити, що в середньому ios користувачі дають нам більше коштів, ніж android.
Також можемо побачити, що найбільше коштів ідуть від iap.
Далі в ios - sub, а потім ad.
А в android навпаки ad, а потім sub.

In [ ]:
df.pivot_table()

In [3]:
path = '/home/dfm4ik/Documents/Scripts/python_folder/iasa_data_camp2022/tree1.txt'
f = open(path,'r')
stri = f.read()
f.close()

## Decision Tree

In [41]:
dont_need_cols = ['country_code','target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30','install_date']
need_cols = []
for i in df.columns:
    if i not in dont_need_cols:
        need_cols.append(i)

X = df[need_cols]
y = df[['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30']]

# fill missing data

# choose categorical and continuous features from data

categorical_columns = [
    c for c in X.columns if X[c].dtype.name == "object"
]
numerical_columns = [
    c for c in X.columns if X[c].dtype.name != "object"
]

print("categorical_columns:", categorical_columns)
print("numerical_columns:", numerical_columns)

for c in categorical_columns:
    X[c].fillna(X[c].mode()[0], inplace=True)
    X[c].fillna(X[c].mode()[0], inplace=True)

for c in numerical_columns:
    X[c].fillna(X[c].median(), inplace=True)
    X[c].fillna(X[c].median(), inplace=True)

X = pd.concat(
    [X[numerical_columns], pd.get_dummies(X[categorical_columns])],
    axis=1,
)

from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(X,y,random_state = 17,test_size = 0.3)

categorical_columns: ['media_source', 'platform']
numerical_columns: ['total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3', 'total_sessions_day7', 'chapters_finished_day0', 'chapters_finished_day1', 'chapters_finished_day3', 'chapters_finished_day7', 'chapters_opened_day0', 'chapters_opened_day1', 'chapters_opened_day3', 'chapters_opened_day7', 'chapters_closed_day0', 'chapters_closed_day1', 'chapters_closed_day3', 'chapters_closed_day7', 'diamonds_received_day0', 'diamonds_received_day1', 'diamonds_received_day3', 'diamonds_received_day7', 'diamonds_spent_day0', 'diamonds_spent_day1', 'diamonds_spent_day3', 'diamonds_spent_day7', 'tickets_spent_day0', 'tickets_spent_day1', 'tickets_spent_day3', 'tickets_spent_day7', 'retained_day1', 'retained_day3', 'retained_day7', 'chapters_finished_session1', 'chapters_finished_session3', 'chapters_finished_session9', 'chapters_opened_session1', 'chapters_opened_session3', 'chapters_opened_session9', 'chapters_closed_session1', 'chapters_closed_session3', 'chapters_closed_session9', 'diamonds_spent_session1', 'diamonds_spent_session3', 'diamonds_spent_session9', 'tickets_spent_session1', 'tickets_spent_session3', 'tickets_spent_session9', 'app_sub_ltv_day0', 'app_sub_ltv_day1', 'app_sub_ltv_day3', 'app_iap_ltv_day0', 'app_iap_ltv_day1', 'app_iap_ltv_day3', 'ad_ltv_day0', 'ad_ltv_day1', 'ad_ltv_day3']

In [8]:
%%time
tree_params = {"max_depth": [7]}
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier, plot_tree
locally_best_tree = GridSearchCV(
    DecisionTreeRegressor(random_state=17), tree_params, cv=5
)

locally_best_tree.fit(X_train, y_train['target_full_ltv_day30'])

CPU times: user 1min 26s, sys: 4.88 s, total: 1min 31s
Wall time: 1min 32s

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=17),
             param_grid={'max_depth': [7]})

In [10]:
biba = locally_best_tree.best_estimator_

In [13]:
# show decision tree in png

import pydotplus  # pip install pydotplus
from sklearn.tree import export_graphviz


def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(
        tree, feature_names=feature_names, filled=True, out_file=None
    )
    graph = pydotplus.graph_from_dot_data(tree_str)
    graph.write_png(png_file_to_save)
tree_graph_to_png(
    tree=biba,
    feature_names=X.columns,
    png_file_to_save="topic3_decision_tree1.png",
)
#show decision tree in png
tree_str = export_graphviz(
        biba, feature_names=X.columns, filled=True, out_file=None
    )
f= open('target_value_best_tree.txt','w')
f.write(tree_str)
f.close()

In [33]:
y_pred = biba.predict(X_test)

# Decision Tree metrics

In [24]:
import math
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test, y_pred)
 
RMSE = math.sqrt(MSE)
RMSE

1.2735943642034495

In [31]:
def MAPE(Y_actual,Y_Predicted):
    Y_actual, Y_Predicted = np.array(Y_actual), np.array(Y_Predicted)
    mape = np.mean(np.abs(Y_actual - Y_Predicted)/Y_actual)*100
    return mape
print(MAPE(y_test, y_pred))

inf

In [32]:
def mae(y_true, predictions):
    y_true, predictions = np.array(y_true), np.array(predictions)
    return np.mean(np.abs(y_true - predictions))
mae(y_test, y_pred)

0.11021835745130928

In [22]:
np.percentile(df['target_full_ltv_day30'],76.7)

0.00015547697459314342

In [6]:
df[dont_need_cols].describe()

,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
count,1.467832e+06,1.467832e+06,1.467832e+06,1.467832e+06
mean,2.203037e-02,2.139268e-01,2.091572e-02,2.568728e-01
std,3.088758e-01,2.097916e+00,1.601929e-01,2.274466e+00
min,-2.829604e+00,0.000000e+00,0.000000e+00,-2.777195e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.545741e+01,2.687878e+02,3.393084e+01,2.720042e+02

# Can we get lesser result

In [12]:
unique, counts = np.unique(y_pred, return_counts=True)

In [25]:
#pd.concat([pd.Series(unique),pd.Series(counts)],axis =1 )
unique.min()

0.012328567731347625

Ми маємо дуже багато зароблених коштів 0лів. А в дереві рішень у нас найменше значення саме

In [30]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

print('before: '\
      ,r2_score(y_test, y_pred)\
      , mean_absolute_error(y_test, y_pred)\
      , np.sqrt(mean_squared_error(y_test, y_pred)))

before:  0.7156120395842329 0.11021835745130928 1.2735943642034495

In [36]:
y_pred2 =y_pred.copy()
value = y_pred2[0]
for i in range(len(y_pred2)):
    if y_pred2[i]==value:
        y_pred2[i]=0
unique, counts = np.unique(y_pred2, return_counts=True)
unique.min()

0.0

In [38]:
print('after: '\
      ,r2_score(y_test, y_pred2)\
      , mean_absolute_error(y_test, y_pred2)\
      , np.sqrt(mean_squared_error(y_test, y_pred2)))

before:  0.7155891063578942 0.10144459509736846 1.2736457148987614

# Regression

In [21]:
X_test_sub = X_test['app_sub_ltv_day0', 'app_sub_ltv_day1',
       'app_sub_ltv_day3']
y_test_sub =

SyntaxError: invalid syntax (1368600713.py, line 3)

In [22]:
X_test.columns

Index(['total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3',
       'total_sessions_day7', 'chapters_finished_day0',
       'chapters_finished_day1', 'chapters_finished_day3',
       'chapters_finished_day7', 'chapters_opened_day0',
       'chapters_opened_day1', 'chapters_opened_day3', 'chapters_opened_day7',
       'chapters_closed_day0', 'chapters_closed_day1', 'chapters_closed_day3',
       'chapters_closed_day7', 'diamonds_received_day0',
       'diamonds_received_day1', 'diamonds_received_day3',
       'diamonds_received_day7', 'diamonds_spent_day0', 'diamonds_spent_day1',
       'diamonds_spent_day3', 'diamonds_spent_day7', 'tickets_spent_day0',
       'tickets_spent_day1', 'tickets_spent_day3', 'tickets_spent_day7',
       'retained_day1', 'retained_day3', 'retained_day7',
       'chapters_finished_session1', 'chapters_finished_session3',
       'chapters_finished_session9', 'chapters_opened_session1',
       'chapters_opened_session3', 'chapters_opened_session9',
       'chapters_closed_session1', 'chapters_closed_session3',
       'chapters_closed_session9', 'diamonds_spent_session1',
       'diamonds_spent_session3', 'diamonds_spent_session9',
       'tickets_spent_session1', 'tickets_spent_session3',
       'tickets_spent_session9', 'app_sub_ltv_day0', 'app_sub_ltv_day1',
       'app_sub_ltv_day3', 'app_iap_ltv_day0', 'app_iap_ltv_day1',
       'app_iap_ltv_day3', 'ad_ltv_day0', 'ad_ltv_day1', 'ad_ltv_day3',
       'media_source_SOURCE_0', 'media_source_SOURCE_1',
       'media_source_SOURCE_10', 'media_source_SOURCE_11',
       'media_source_SOURCE_12', 'media_source_SOURCE_13',
       'media_source_SOURCE_14', 'media_source_SOURCE_15',
       'media_source_SOURCE_16', 'media_source_SOURCE_17',
       'media_source_SOURCE_18', 'media_source_SOURCE_19',
       'media_source_SOURCE_2', 'media_source_SOURCE_20',
       'media_source_SOURCE_21', 'media_source_SOURCE_22',
       'media_source_SOURCE_23', 'media_source_SOURCE_3',
       'media_source_SOURCE_4', 'media_source_SOURCE_5',
       'media_source_SOURCE_6', 'media_source_SOURCE_7',
       'media_source_SOURCE_8', 'media_source_SOURCE_9', 'platform_android',
       'platform_ios'],
      dtype='object')